.card {
    background: rgb(245, 245, 245);
    border-radius: 2px;
    box-shadow: 0 3px 6px rgb(0, 0, 0), 0 3px 6px rgb(0, 0, 0);
    justify-content: space-around;
    margin: 4px;
    height: 17em; 
}

.card>.img-container {
    overflow: hidden;
    text-align: center; 
    justify-content: center;  
    margin: 3rem;   
}

.card>.img-container>img {
    width: 10em;   
}